<%- include('templates/head') %>

<section class="container text-center mt-5">
  <h1>404 page not found</h1>
  <p>
    Ooops! <span style="font-size: inherit">&#128530;</span> It seems that this
    site doesn't exist. If you think this error should not occur please
    <span class="btn btn-primary">Contact Us</span>
  </p>
</section>
</body>
</html>