<%- include('templates/head') %>

<section class="bg-dark text-light p-5 p-lg-0 py-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Online <span class="text-warning">Gradebook </span></h1>
        <p class="lead my-4">
          If you are a teacher sign in and create your account
        </p>
        <p class="lead my-4">
          If you are a student, use the code given by your teacher
        </p>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="/showcase.svg"
        alt=""
        srcset=""
      />
    </div>
  </div>
</section>

<section id="recomendations" class="p-4 bg-primary">
  <div class="container">
    <h2 class="text-center text-white">Our recomendations</h2>
    <p class="lead text-center text-white mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, vitae.</p>

    <div class="row g-4">
    
      <div class="col-md-6 col-lg-3">
        <div class="card card-bg-light">
          <div class="card-body text-center">
            <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3"
            alt="" srcset="">
            <h3 class="card-title mb-3">John Doe</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsa qui ullam odit ad.</p>
            <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
   

    
      <div class="col-md-6 col-lg-3">
        <div class="card card-bg-light">
          <div class="card-body text-center">
            <img src="https://randomuser.me/api/portraits/men/6.jpg" class="rounded-circle mb-3"
            alt="" srcset="">
            <h3 class="card-title mb-3">John Doe</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsa qui ullam odit ad.</p>
            <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
    

    
      <div class="col-md-6 col-lg-3">
        <div class="card card-bg-light">
          <div class="card-body text-center">
            <img src="https://randomuser.me/api/portraits/women/11.jpg" class="rounded-circle mb-3"
            alt="" srcset="">
            <h3 class="card-title mb-3">John Doe</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsa qui ullam odit ad.</p>
            <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
   

   
      <div class="col-md-6 col-lg-3">
        <div class="card card-bg-light">
          <div class="card-body text-center">
            <img src="https://randomuser.me/api/portraits/women/2.jpg" class="rounded-circle mb-3"
            alt="" srcset="">
            <h3 class="card-title mb-3">John Doe</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsa qui ullam odit ad.</p>
            <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
  
</section>

<%- include('templates/footer') %>
</body>

</html>