<div style="height: 125px"></div>
<footer
  class="p-2 text-dark text-center fixed-bottom"
  style="background: #e6e7e8"
>
  <div class="container p-2">
    <p class="lead m-auto">Copyright &copy; 2021 AS</p>
  </div>
</footer>
